<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>472129557923-t35cddcu43c1s8d8m76kcjjure6fp1ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472129557923-t35cddcu43c1s8d8m76kcjjure6fp1ko</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3HChcl8WAOYJIbxZZI3sO6pRe5a6bPg</string>
	<key>GCM_SENDER_ID</key>
	<string>472129557923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darshan.Uncoated</string>
	<key>PROJECT_ID</key>
	<string>social-feedback-f3861</string>
	<key>STORAGE_BUCKET</key>
	<string>social-feedback-f3861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:472129557923:ios:5472a81319b92a4e</string>
	<key>DATABASE_URL</key>
	<string>https://social-feedback-f3861.firebaseio.com</string>
</dict>
</plist>
